#footer-container {
    justify-content: center;
    display: flex;
    position: fixed;
    left: 200px;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: white;
}

#footer-github-link {
    all: unset;
    font-size: 1rem;
    color: purple;
    cursor: pointer;
}

#footer-github-link:hover {
    color: darkblue;
}