#navbar-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white ;
    height: 100px;
    width: 100%;
}

#website-logo {
    width: 200px;
}

#website-name {
    font-size: 2rem;
    color: purple;
}