@import url(./styles/Footer.css);
@import url(./styles/KanbanBoard.css);
@import url(./styles/Navbar.css);
@import url(./styles/Sidebar.css);
@import url(./styles/Task.css);
@import url(./styles/pages.css);
@import url(./styles/Details.css);

body {
  background-color: purple;
}
